.boxDetalleProducts{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 40px 40px 40px;
}

.contentDetallesProduct{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: burlywood;
    height: 90vh;
}

.contentDetallesDetalles{
    display: flex;
    position: absolute;
    width: 100%;
    gap: 10px;
    bottom: 0;
    left: 0;
}

.imgProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.imgProducto img{
    min-width: 100%;
    object-fit: cover;
}

.sourseDetalles{
    flex: 1;
}

.details{
    background-color: var(--colorElements);
    color: var(--fuenteElements);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 5px;
    flex: 3;
}

.boxInputEnvio select{
    background-color: transparent;
    color: var(--fuenteElements);
    border: 1px solid var(--fuenteElements);
    border-radius: 5px;
}

.boxInputCantidad{
    display: flex;
    gap: 5px;
}

.inputCantidad{
    background-color: transparent;
    color: var(--fuenteElements);
    border: 1px solid var(--fuenteElements);
    padding: 0  0 0 10px;
    border-radius: 5px;
}