.boxDetalleProducts{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 30px 40px 40px 40px;
}

.contentDetallesProduct{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: burlywood;
    height: 90vh;
}

.contentDetallesDetalles{
    display: flex;
    position: absolute;
    width: 100%;
    gap: 10px;
    bottom: 0;
    left: 0;
}

.imgProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.imgProducto img{
    min-width: 100%;
    object-fit: cover;
}

.sourseDetalles{
    flex: 1;
}

.details{
    background-color: var(--colorElements);
    color: var(--fuenteElements);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 5px;
    flex: 3;
}

.boxInputEnvio select{
    background-color: transparent;
    color: var(--fuenteElements);
    border: 1px solid var(--fuenteElements);
    border-radius: 5px;
}

.boxInputEnvio option{
    background-color: var(--colorHeader);
    color: var(--fuenteHeader);
}

.boxInputCantidad{
    display: flex;
    gap: 5px;
}

.inputCantidad{
    background-color: transparent;
    color: var(--fuenteElements);
    border: 1px solid var(--fuenteElements);
    padding: 0  0 0 10px;
    border-radius: 5px;
}

/*------------------ Descripcion -----------------------------------------------------*/

.descripcionProductosDetalles{
    background-color: var(--colorElements);
    color: var(--fuenteElements);
    padding: 20px 30px;
    border-radius: 5px;
}

.descripcionProductosDetalles h2{
    font-size: 20px;
    font-weight: 600;
}

/*------------------------- Comentarios ----------------------------------------------------*/

.comentariosAddShow{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
    gap: 30px;
    padding: 0 40px;
}

.comentariosAddShow h2{
    font-size: 20px;
    font-weight: 600;
}

.comentariosAddShow h3{
    font-size: 18px;
    font-weight: 500;
}

.comentariosShow{
    background-color: var(--colorElements);
    color: var(--fuenteElements);
    border-radius: 5px;
    padding: 20px 30px;
}

.comentariosAdd{
    background-color: var(--colorElements);
    color: var(--fuenteElements);
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentariosAdd i{
    font-size: 24px;
    cursor: pointer;
}

.sinComentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writtingComentario{
    width: 100%;
    height: 150px;
    background-color: var(--hoverIconFondo);
    color: var(--fuenteElements);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.scoreAdd{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btnEnviar{
    display: flex;
    justify-content: end;
}