:root{
    --displayAside: none;
    /*--transformAside: 0;*/
}

.menuGeneral{
    display: flex;
    flex-direction: column;
}

.menuPrincipal{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--colorHeader);
    transition: all 200ms;
}

.menuRight{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img{
    width: 30px;
    border-radius: 10px
}

.menuPrincipal a, .menuPrincipal{
    color: var(--fuenteHeader);
    text-decoration: none;
    transition: all 200ms;
}

.menuSecundario a, .menuSecundario{
    color: var(--fuenteSubHeader);
    text-decoration: none;
    transition: all 200ms;
}

.menuSecundario{
    display: flex;  
    background-color: var(--colorSubHeader);
    box-shadow: var(--boxShadowSubmenu);
    padding: 10px 20px;
    box-sizing: border-box;
    transition: all 200ms;
}

.menuHamburger{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.menuHamburger i{
    transition: all 200ms;
    cursor: pointer;
}

.menuHamburger i:hover{
    transform: scale(1.08);
    color: var(--hoverHeader);
}

.listaOption{
    display: flex;
    flex: 20;
    justify-content: center;
    gap: 15px;
}

.boxBuscador{
    display: flex;
    gap: 5px;
}

.lupa{
    width: 30px;
    min-height: 100%;
    border: 1px solid var(--fuenteHeader);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    transition: all 200ms;
    color: var(--fuenteHeader);
    cursor: pointer;
}

.buscador{
    background-color: transparent;
    border: 1px solid var(--fuenteHeader);
    border-radius: 0 5px 5px 0;
    width: 450px;
    padding: 0 5px 0 15px;
    color: var(--fuenteHeader);
    transition: all 200ms;
}

.menuLeft{
    display: flex;
    gap: 20px;
}

.iconMenu{
    font-size: 28px;
}

.opcionPrincipal{
    transition: color 200ms;
}

.opcionPrincipal:hover{
    color: var(--hoverHeader);
}

.opcionSecundaria{
    transition: all 200ms;
}

.opcionSecundaria:hover{
    text-decoration: underline;
}

.changeColorButton{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeColorButton i{
    font-size: 20px;
    color: var(--fuenteHeader);
    transition: all 200ms;
    cursor: pointer;
}

.changeColorButton i:hover{
    font-size: 20px;
    color: var(--hoverHeader);
}

.sectionMainPrincipal{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    min-width: 100%;
}

.asideDesplegable{
    display: var(--displayAside);
    transform-origin: left;
    background-color: var(--colorSubHeader);
    padding-top: 10px;
    box-shadow: var(--boxShadowSubmenu);
    transition: all 200ms;
}

.opcionsBoxIcons{
    display: flex;
    gap: 20px;
}

.opcionsIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcionsIcons i:hover{
    color: var(--hoverElements);
}

.layoutViewChange{
    gap: 5px;
}
/*
.navAsideDes{
    
}
*/
.ulNavAsideDes{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 30px;
}

.ulNavAsideDes a{
    color: var(--fuenteSubHeader);
    text-decoration: none;
    transition: all 200ms;
    padding: 0 0 0 20px;
}

.ulNavAsideDes a:hover{
    text-decoration: underline;
}

.ulNavAsideDes h2{
    font-size: 24px;
    font-weight: 600;
}

.divCenterMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}