.mainAdminAdmin{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 40px;
}

.cardMenuAdmin{
    padding: 100px 50px;
    background-color: var(--colorElements);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--fuenteElements);
    transition: all 200ms;
}

.cardMenuAdmin:hover{
    box-shadow: 0px 0px 5px var(--hoverElements), -0px -0px 5px var(--hoverElements);
}

.cardMenuAdmin h2{
    font-size: 30px;
    font-weight: 700;
}

.cardMenuAdmin i{
    font-size: 36px;
}

/* -------------------------- Listas -----------------------------------------------------------*/

.listAdminEcommerce{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    gap: 8px;
}

.tHeadList{
    padding-left: 15px;
}

.tHeadList h2, .tHeadList span{
    font-size: 30px;
    font-weight: 700;
}

.liListaContent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-decoration: none;
    color: var(--fuenteElements);
    background-color: var(--colorElements);
    padding: 8px 20px;
    cursor: pointer;
}

.liNombreList{
    grid-column: 1 / 3;
}

.liDescriptionList{
    grid-column: 3 / 11;
}

.liDateList{
    grid-column: 11 / 13;
    display: flex;
    justify-content: center;
}

/* ------------------------------ Detalles -----------------------------------------------------------*/

.detallesPage{
    display: flex;
    margin: 20px 30px;
    gap: 10px;
}

.mainDetallesList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerDetalles{
    display: flex;
    background-color: var(--colorElements);
    padding: 8px 20px;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
}

.arrowExit{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--fuenteElements);
    text-decoration: none;
}

.headerDetalles i{
    font-size: 24px;
}

.sectionDetalles{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.descriptionDetalles{
    grid-column: 1 / 11;
    background-color: var(--colorElements);
    padding: 8px 20px;
    border-radius: 5px;
}

.sourseDetalles{
    background-color: var(--colorElements);
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
}

.calificacion{
    font-size: 60px;
    font-weight: 400;
    border: 4px solid var(--hoverHeader);
    border-radius: 50%;
    padding: 30px;
    color: var(--hoverHeader);
}

.moreDetalles{
    grid-column: 3 / 11;
    background-color: var(--colorElements);
    padding: 8px 20px;
    border-radius: 5px;
}

.comentariosDetalles{
    grid-column: 1 / 11;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--colorElements);
    padding: 10px 20px;
    border-radius: 5px;
}

.asideDetalles{
    background-color: var(--colorElements);
    padding: 14px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.asideDetalles i{
    font-size: 24px;
}

.btnElimar{
    text-decoration: none;
    color: var(--fuenteElements);
}

.imgs img{
    width: 150px;
    height: 150px;
}