
.mainShoppingCart{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.sectionShoppingCart{
    background-color: var(--colorElements);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
}

.sectionShoppingCart h1{
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.productsCart{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productCart{
    display: grid;
    grid-template-columns: .5fr 1fr 6fr 1fr 1fr 1fr;
    gap: 5px;
    justify-items: start;
    align-items: center;
}

.productCart img{
    width: 40px;
    height: 40px;
}

.fraseFooter{
    text-align: center;
}

.buttonCart{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.buttonRegresar{
    color: var(--fuenteElements);
}

.sin{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.sin h2{
    font-size: 30px;
    font-weight: 600;
}

.sin img{
    width: 300px;
}

.sin a{
    text-decoration: none;
}

.sinProductos{
    background-color: var(--colorElements);
}

.sinSesion{
    background-color: var(--colorElements);
}

/* --------------------- Confirm---------------------------------*/

.formConfirm{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 5px;
}

.inputConfirm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputConfirm input{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--fuenteElements);
    width: 100%;
    padding: 2px 10px;
    color: var(--fuenteElements);
}

.inputConfirm label{
    margin-left: 20px;
}

.cvInpt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.cvInpt input{
    width: 80px;
}

/* ---------------------- Status --------------------------------*/

/* ---------------------- Historial --------------------------------*/

.mainHistorial{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    gap: 8px;
}

.liTitle{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding: 0 20px;
}

.mainHistorial h2{
    font-size: 30px;
    font-weight: 700;
}

.mainHistorial h3{
    font-size: 20px;
}

.ctitle{
    display: flex;
    align-items: center;
}

.tLista{
    grid-column: 1 / 10;
}

.tFecha{
    grid-column: 10 / 12;
    justify-content: center;
}

.tStatus{
    justify-content: center;
}

.liProduct{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    background-color: var(--colorElements); /*#47474780*/
    padding: 8px 20px;
    cursor: pointer;
}

.lProducto{
    grid-column: 1 / 3;
}

.lDescripcion{
    grid-column: 3 / 10;
}

.lFecha{
    grid-column: 10 / 12;
    justify-content: center;
}

.lStatus{
    justify-content: center;
}

.lStatus i{
    font-size: 28px;
}

.cantidad{
    display: flex;
    width: 40px;
    text-align: center;
    border: transparent;
}

.noCart{
    display: flex;
    justify-content: center;
    background-color: var(--colorElements);
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}