.cont-detalles{
    width: 100%;
    margin: 20px 0px;
    align-items: center;
    align-content: center;

}
.cont-detalles, .formin{
    display: flex;
    flex-direction: column;
}

.Acciones {
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.iconDelete{
    color: aliceblue;
    margin-top: 5px;
}


.formin{
    width: 70%;
    margin: 30px;
}
.principalImg{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.cont-img{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.img-nuevas{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img , .img-mas{
    width: 200px;
    height: 200px;
}

.tabla_opciones{
    width: 100%;
}

.opc_producto{
    width: 40%;
}
.opc_acciones {
    width: 60%;
}

td{
    text-align: center;
}

.desactivate{
    background-color: var(--colorElements);
    border: var(--colorElements);
    color: var(--fuenteElements);
    padding: 8px;
}

.activate{
    background-color: var(--colorElements);
    border: 1px solid var(--fuenteElements);
    color: var(--fuenteElements);
    border-radius: 10px;
    padding: 8px;
}
.activate:focus{
    outline-color: var(--fuenteElements);
}

.btnDesact{
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: #FFFFFF;
    background-color: var(--btnNeutro);
}



.boton {
    margin: 10px;
    position: relative; 
}

.lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: var(--colorElements);
    border-radius: 100px;
    position: absolute; 
    top: 0;
    left: 0;
}

.check:checked ~ .lbl-switch {
    background-color: var(--btnConfirm);
}

.lbl-switch:after {
    content: '';
    width: 22px;
    height: 22px;
    background-color: var(--hoverBtn);
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

.check:checked ~ .lbl-switch:after {
    left: 28px;
}

.check {
    cursor: pointer;
    opacity: 0; 
    width: 0;
    height: 0;
}

.data-precio{
    background-color: var(--formularioBox);
}