.dropdown {
    min-width: 3em;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--colorHeader);
    border-radius: 0.5em;
    color: var(--fuenteHeader);
    position: absolute;
    top: 2em;
    left: -300%;
    width: 200px;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li, .menu a {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: var(--hoverHeader);
}

.menu-open {
    display: block;
    opacity: 1;
}

#dropdownIcon {
    width: 30px;
    height: 30px
}